img {
  width: 70%;
  height: auto;
  margin-top: 20%;
  z-index: 1;
}

h4.slogan {
  color: white;
  z-index: 1;
}

.start-btn {
  margin-top: 20%;
  background-color: #878787;
  z-index: 1;
  text-decoration: none;
  color: white;
}

button:link {
  color: white;
}

button:visited {
  color: white;
}

button:hover {
  color: white;
}

button:active {
  color: white;
}

video#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  z-index: -1;
}

img#baby-yoda {
  position: fixed;
  bottom: 50px;
  right: 20px;
  height: 20%;
  width: auto;
  z-index: 1;
}

@media screen and (min-width:640px){
  video#myVideo {
    height: 100%;
  }
  .start-btn {
    margin-top: 25%;
  }
  img#baby-yoda {
    bottom: 0px;
  }
}

@media screen and (min-width:641px) and (max-width:768px){
  .start-btn {
    margin-top: 25%;
  }
}

@media screen and (min-width:769px) and (max-width:980px){
  video#myVideo {
    height: 100%;
  }
  button.start-btn {
    margin-top: 18%;
  }
  img {
    margin-top: 15%;
  }
  h4 {
    font-size: 20pt;
  }
}

@media screen and (min-width:981px){
  .start-btn {
    margin-top: 10%;
  }
  img {
    width: 70%;
    height: auto;
    margin-top: 10%;
  }
  h4 {
    font-size: 30pt;
  }
}

@media screen and (min-width:1115px){
  video#myVideo{
    visibility: hidden;
  }
}